{% comment %}
  Section para "Shop the Look"
{% endcomment %}

{% if section.settings.enable_section %}
  <div class="shop-the-look-section">
    <h2 class="shop-the-look-title">Shop the Look</h2>
    <div class="shop-the-look-container">
      {% if section.settings.product != blank %}
        {% assign product = all_products[section.settings.product] %}
        <div class="shop-the-look-item">
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="shop-the-look-image" width="300" height="300">
          <div class="shop-the-look-info">
            <div class="shop-the-look-product-info">
            <h3 class="shop-the-look-product-title">{{ product.title }}</h3>
            <h6 class="shop-the-look-product-collection">{{ product.collections.first.title }}</h6>
            <p class="shop-the-look-product-price">{{ product.price | money_without_trailing_zeros }}</p>
            <form action="/cart/add" method="post" class="atc-form">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <button type="submit" class="shop-the-look-add-to-cart-button">Add to Cart</button>
            </form>
          </div>
        </div>
      {% else %}
        <p>Select a product to display.</p>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Shop the Look",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable Section",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Shop the Look",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% style %}
  .shop-the-look-section {
    padding: 15px 0;
  }
  .shop-the-look-title {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .atc-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .shop-the-look-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  .shop-the-look-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 12px;
    width: 100%;
  }
  .shop-the-look-image {
    width: auto;
    height: 90px;
    background: #f6f6f6;
    border-radius: 6px;
  }
  .shop-the-look-info {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .shop-the-look-product-info {
    margin-bottom: 5px;
  }
  .shop-the-look-product-title {
    font-size: .8rem;
    font-weight: bold;
    margin: 0 0 1px;
  }
  .shop-the-look-product-collection {
    font-size: .7rem;
    font-weight: 400;
    margin: 0;
    color: #666;
  }
  .shop-the-look-product-price {
    font-size: .8rem;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
  }
  .shop-the-look-add-to-cart-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 20px;
    font-weight: 600;
    font-size: .7rem;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end;
  }
  .shop-the-look-add-to-cart-button:hover {
    background-color: #333;
  }
{% endstyle %} 